<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">


    <test name="firefoxTest">
        <classes>
            <class name="CrossBrowser">
                <parameter name="browserName" value="firefox"></parameter>
            </class>
        </classes>
    </test>


    <test name="chromeBrowserTest">
        <classes>
            <class name="CrossBrowser">
                <parameter name="browserName" value="chrome"></parameter>
            </class>
        </classes>
    </test>

</suite>