<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browser" value="firefox"></parameter>
    <test name=" crossbrowser1" >
        <classes>
            <class name="CrossBrowser"/>
        </classes>
    </test>

    <parameter name="browser" value="chrome"></parameter>
    <test name="crossbrowser">
        <classes>
            <class name="CrossBrowser"/>
        </classes>
    </test>

</suite>